//familia de fuente
$mono: monospace;

//grosor letras font-weight
$bold: 400;
$regular: 300;
$light: 200;

$medium: 24px;
$small: 13px;

/*colores a usar*/
$white: #ffffff;
$steel: steelblue;
$gray: gray;
$celeste: #f2f4f5;
$coral: coral;
