//noticias

.noticias {
  display: grid;
  width: 100%;
  margin-left: 1%;
  grid-template-columns: 75% 25%;
  // padding: 0 10px 0 10px;
  &__contenido {
    display: grid;
    width: 100%;
    float: left;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5px;
    justify-content: center;
  }

  &__contenido--cabecera {
    width: 90%;
    display: grid;
    margin: 5px;
    cursor: pointer;
    align-items: center;

  }

  &__contenido--cuerpo {
    display: grid;
    align-items: center;
    img {
      width: 75%;
      height: 75%;

    }
  }
}
/*noticias*/


@media  screen and (max-width: 600px) {
  .noticias__contenido{
    grid-template-columns: 100%;
    margin-left: 70px;
    text-align: center;
    img{
      margin-left: 40px;
    }
  }
  .barra-nav__lista{
    display: none;
  }
}
@media  screen and (max-width: 320px) {
  .noticias__contenido{
margin-left: 40px;
text-align: center;
img{
  margin-left: 30px;
}
 }
  .barra-nav__lista{
    display: none;
  }
}


/*newlettter*/
.news__contenido {
  display: grid;
  grid-column: 1fr;
}

.newsletter {
  width: 100%;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
}
