.container__menu{
 display:grid;
  text-align: center;
}
.menu--items{
  display: grid;
}
.menu--logo{
  grid-column-start: 1;
  grid-column-end: 2;
}
.menu--lista{
  grid-column-start:2;
  grid-column-end: 3;

}
.container__news{
grid-row: 1;

}
