.barra-nav__contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  border-bottom: 1px solid $gray;
  text-align: center;

}
.barra-nav{
  &__logo--titulo {
    display: grid;
    font-size: $medium;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 3%;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: left;
    margin-left: 4%;
  }
  &__lista {
    display: inline-block;
    width: 840px;
    text-align: right;

    ul li a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}


.input-menu {
  border-radius: 30px;
}

@media only screen and (min-width: 320px) {
  .barra-nav__lista{
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .barra-nav__lista{
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .barra-nav__lista{
    display: none;
  }
}
